.newTripForm {
    width: 25%;
    margin: 0 auto;
    position: absolute;
    left: 37.5%;
    top: 25%;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 10px;
}

.closeBtn {
    position: absolute;
    left: 95%;
    top: 0;
}